.search-section {
  background: #ffffff;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
}

.top-search {
  background: #ffffff;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  position: sticky;
  top: 0;
}

.filters {
  background: #ffffff;
  padding: 0px 38px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.filter {
  width: 150px;
  height: 30px;
  background-color: #D9D9D9;
  border: none;
  padding: 0 5px 0 10px;
}

.filter:hover {
  background-color: #B8B8B8;
}

select.filter>option:disabled {
  color: #858585;
}

.trips-list {
  display: flex;
  flex-direction: column;
}

.trip-element {
  background: #ffffff;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px 0px 0px 0px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.left-search {
  padding: 10px 5px 10px 5px;
  display: flex;
  gap: 15px;
  align-items: center;
  flex-shrink: 0;
}

.image {
  border-radius: 5px;
  width: 100px;
  object-fit: cover;
  overflow: hidden;
}

.left-search-content {
  display: flex;
  flex-direction: column;
}

.trip-info {
  display: flex;
  gap: 50px;
}

.trip-description {
  width: 600px;
}

.right-search {
  padding: 3px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  gap: 19px;


  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.book-button {
  background: #1c5c4c;
  border-radius: 5px;
  border: 0;
  padding: 0 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  color: #fff;
  font-size: 16px;
}

.book-button:hover {
  cursor: pointer;
  background: #10352c;
}